In [1]:
name = "alice"
number = 24

print(number)
print(name)

24
alice

In [2]:
lst = [1,2,3];
print(lst)
print(lst[0])

[1, 2, 3]
1

In [3]:
name = '10'
nametoint = int(name)
print(nametoint)

10

In [1]:
name = "sajid"
lst = list(name)
print(lst)
for i in range (1,6):
    print(lst[i*-1]+'\n');

['s', 'a', 'j', 'i', 'd']
d

i

j

a

s

In [6]:
name = " Sajid "
print(name.upper())
print(name.lower())
print((name.lower()).strip())

ind = "My name is sajid and I live in Bangladesh"
lst = ind.split();
print(lst)
for i in range(len(lst)):
    str = lst[i]
    for j in range (len(str)):
        print(str[j])

 SAJID
 sajid
sajid
['My', 'name', 'is', 'sajid', 'and', 'I', 'live', 'in', 'Bangladesh']
M
y
n
a
m
e
i
s
s
a
j
i
d
a
n
d
I
l
i
v
e
i
n
B
a
n
g
l
a
d
e
s
h

In [11]:
name = "sajIdI"
ind = name.find("id")
print(ind)
print(name.lower().count("i"))

-1
2

In [15]:
lst = ("sajid","tasin","ashik");
str = "*".join(lst)
print(str)

sajid*tasin*ashik

In [25]:
print(1 and not 0)

True

In [29]:
lst = [1,2,3,4]
print(4 in lst)

True

In [38]:
inp = float(input("Enter your age"))
print(inp)

if(inp <12):
    print("You are a child")
elif (inp>11 and inp <18):
    print("You are not adult yet")
else:
    print("You are good to go")

Enter your age 18

18.0
You are good to go

In [43]:
age = int(input("Age "))
name = input("Name: ")
flt = float(input("pi value"))
print(f"Your name is {name} and you are {age} years old and you know the pi value as {flt:.2f}")

Age  21
Name:  sajid
pi value 3.1456

Your name is sajid and you are 21 years old and you know the pi value as 3.15

In [52]:
name = "sajid"
print(f"{name:>10}")

     sajid

In [57]:
lst = [1,2,3,4]
for el in lst:
    print(el,end = ".")

1.2.3.4.

In [2]:
lst = []
n = int(input("Enter number of element"))
for i in range(n):
    lst.append(int(input(f"Enter {i}th element")))
for i in range(n):
    print(lst[i],end = " ")

Enter number of element 5
Enter 0th element 1
Enter 1th element 2
Enter 2th element 3
Enter 3th element 4
Enter 4th element 5

1 2 3 4 5

In [ ]:
n = int(input("Enter number of element"))
# lst = list(map(int,input("Enter elements").split()))
#print(lst)

lst1 = list(map(int,input("Enter elements again").split()))
print(lst1)

In [13]:
lst = [1,2,3,7,4]
lst.extend([5,6,9])
lst.insert(2,10)
print(lst.index(6))

7

In [17]:
tpl = tuple(map(int,input("Enter elements").split()))
print(tpl.count(5))

Enter elements 1 2 3 5 3 4 5

2

In [21]:
person = ("Sajid",21,"Student")
name,age,proff = person
print(age)
print(name)

21
Sajid

In [26]:
n = int(input("Enter number of element"))
st = set(map(int,input().split()));
print(st)
for el in st:
    print(el,end =" ")

Enter number of element 5
 2 1 3 5 2

{1, 2, 3, 5}
1 2 3 5

In [8]:
dct = {
    "name" : "sajid",
    "age" : 21,
    "proff" : {
        "Full time" :"student",
        "Part time" :"Programmer"
    },
    24 : "What"
}
print(dct["proff"]["Full time"])

lst = set(dct.keys())
print(lst)

student
{24, 'proff', 'name', 'age'}

In [3]:
newdct ={};
n = int(input("Enten number of element"))
for i in range (n):
    x = input("Enter key");
    print("If values are list enter 1 else 2")
    a = int(input());
 
    if(a == 2):
        y = input("Enter value")
    else:
        y = list(map(str,input("Enter values").split()))
    newdct[x] = y;
print(newdct)

Enten number of element 2
Enter key name

If values are list enter 1 else 2

 1
Enter values sajid ashik
Enter key age

If values are list enter 1 else 2

 1
Enter values 21 22

{'name': ['sajid', 'ashik'], 'age': ['21', '22']}

In [7]:
arr = [x for x in range(100) if x%2 == 0]
print(arr,end = " ")

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]